#content {
    
    text-align: center;
     font-family:'Times New Roman', Times, serif;
     font-size: 35px;
     font-weight: bold;
     color: black;
 }
 
 #about {
     
     width: 600px;
     margin: auto;
     
 }