#content {
    
    text-align: center;
     font-family:'Times New Roman', Times, serif;
     font-size: 25px;
     font-weight: bold;
     color: black;
 }
 
 #about {
     
     width: 600px;
     margin: auto;
     
 }

 h1 {

    text-align: center;
 }

 #homeButton {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
 }