#content {
    
    text-align: center;
     font-family:'Times New Roman', Times, serif;
     font-size: 25px;
     font-weight: bold;
     color: black;
 }
 
 #about {
     
     width: 600px;
     margin: auto;
     
 }

 h1 {

    text-align: center;
 }

 #homeButton {
    text-align: center;
    padding-top: 20px;
    transform: scale(3);
 }

 .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }