.welcome-page-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.welcome-page-button-container {
    padding: 5%;
    background: #ffc107;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.welcome-page-button-container button{
    display: block;
    width: 200px;
    border-radius: 1rem;
    padding: 2%;
    border: none;
    cursor: pointer;
}